.white-placeholder::placeholder{
    color: grey;
}

.output:focus{
    box-shadow: none;
    border-color: green;
}
body{
    overflow-x: hidden;
    background:linear-gradient(to left,black,#242124)   
}