
@media only screen and (max-width: 320px) {
  h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: 15px;
  }
  h3{
      color: whitesmoke;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 13px;
  }
  
  p{
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    line-height: 1.5;
  }
  .swiper {
    width: 100px;
    height: auto;
  }
  #ourTeamImg{
    width: auto;
    height: 55vh;
  }
  body{
    max-width: 95.7vw;
  }
}

@media only screen and (max-width: 575px) {
  h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: 17px;
  }
  h3{
      margin-left: 3%;
      color: whitesmoke;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 15px;
  }
  p{
    color: whitesmoke;
    margin-left: 3%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    line-height: 1.5;
  }
  .swiper {
    width: 120px;
    height: auto;
  }
  #ourTeamImg{
    width: auto;
    height: 40vh;
  }
  body{
    max-width: 95.7vw;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: 30px;
  }
  h3{
      margin-left: 3%;
      color: whitesmoke;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 25px;
  }
  p{
    color: whitesmoke;
    margin-left: 3%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }
  .swiper {
    width: 180px;
    height: auto;
  }
  #ourTeamImg{
    width: auto;
    height: 50vh;
  }
  body{
    max-width: 98vw;
  }
}
@media only screen and (min-width: 768px) {
  h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: 30px;
  }
  h3{
      margin-left: 3%;
      color: whitesmoke;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 25px;
  }
  p{
    color: whitesmoke;
    margin-left: 3%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }
  .swiper {
    width: 230px;
    height: auto;
  }
  #ourTeamImg{
    width: auto;
    height: 60vh;
  }
  body{
    max-width: 98vw;
  }
}
@media only screen and (min-width: 992px) {
  h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 30px;
  }
  h3{
      margin-left: 3%;
      color: white;
      font-weight: 200;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 25px;
  }
  p{
    color: grey;
    margin-left: 3%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }
  .swiper {
    width: 230px;
    height: auto;
  }
  #ourTeamImg{
    width: auto;
    height: 60vh;
  }
  body{
    max-width: 98vw;
  }
}

.swiper-slide img {
  display: block;
  border-radius: 5px;
  width: 100%;
}
.swiper-slide{
  border-radius: 20px;
}

